<div class="bg-white panel mb-3 pb-5 dark:bg-warmgray-900">
    <p class="text-xl text-center text-gray-700 py-3 px-3 dark:text-gray-300">PR</p>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9210683769458396"
         crossorigin="anonymous"></script>
    <!-- SideBarVertical -->
    <ins class="adsbygoogle ad-mobile-only"
         style="display:inline-block;width:403px;height:600px"
         data-ad-client="ca-pub-9210683769458396"
         data-ad-slot="2145608922"></ins>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
