<head>
    {{- partial "analytics" . -}}
    {{- if .Site.Params.Analytics.Yandexmetrica.Enabled -}}
    {{ partial "metrica.html" . }}
    {{- end -}}
    <title>{{if .IsHome}}{{site.Title}} - {{.Title}}{{else}}{{.Title}}{{end}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "/favicon/apple-touch-icon.webp" | relURL }}">
    <link rel="shortcut icon" sizes="16x16 32x32 64x64" type="image/vnd.microsoft.icon" href="{{ "/favicon/favicon.ico" | relURL }}">
    <link rel="icon" type="image/webp" href="{{ "/favicon/favicon.webp" | relURL }}" sizes="16x16 32x32 96x96 192x192">
    <meta name="theme-color" content="#212936">
    <meta property="og:title" content="{{site.Title}}{{if not .IsHome}} | {{.Title}}{{end}}" />
    {{ $styles := resources.Get "css/style.css" | postCSS }}
    {{- if .Site.IsServer -}}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" />
    {{- else -}}
    {{ $styles := $styles | minify | fingerprint | resources.PostProcess }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" />
    {{- end }}
    <link href=' {{ "/css/blonde.min.css" | relURL }}' rel="stylesheet" type="text/css" media="print" onload="this.media=' all'">
    {{- partial "seo/print.html" . -}}
    {{- block "header_css" . -}}{{- end -}}
    <link rel="stylesheet" href='{{ "/css/custom.css" | relURL }}'>
    <i class="dark hidden"></i>
    <script>
        // Original: https://www.bugbugnow.net/2019/05/GoogleAdSense-lazy-loading.html
        (function(window, document) {
          function main() {
            // GoogleAdSense読込み
            var ad = document.createElement('script');
            ad.type = 'text/javascript';
            ad.async = true;
            ad.crossorigin = 'anonymous';
            ad.src = 'https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?ca-pub-9210683769458396';
            var sc = document.getElementsByTagName('script')[0];
            sc.parentNode.insertBefore(ad, sc);
          }
        
          // 遅延読込み
          var lazyLoad = false;
          function onLazyLoad() {
            if (lazyLoad === false) {
              // 複数呼び出し回避 + イベント解除
              lazyLoad = true;
              window.removeEventListener('scroll', onLazyLoad);
              window.removeEventListener('mousemove', onLazyLoad);
              window.removeEventListener('mousedown', onLazyLoad);
              window.removeEventListener('touchstart', onLazyLoad);
              window.removeEventListener('keydown', onLazyLoad);
        
              main();
            }
          }
          window.addEventListener('scroll', onLazyLoad);
          window.addEventListener('mousemove', onLazyLoad);
          window.addEventListener('mousedown', onLazyLoad);
          window.addEventListener('touchstart', onLazyLoad);
          window.addEventListener('keydown', onLazyLoad);
          window.addEventListener('load', function() {
            // ドキュメント途中（更新時 or ページ内リンク）
            if (window.pageYOffset) {
              onLazyLoad();
            }
          });
        })(window, document);
    </script>
</head>