{{ if .Site.Taxonomies.categories }}
<div class="bg-white panel mb-3 pb-5 dark:bg-warmgray-900 shadow-sm rounded-lg border border-gray-200">
    <p class="text-xl text-center text-gray-700 font-semibold py-5 dark:text-gray-300">Categories</p>
    {{ range $key, $value := .Site.Taxonomies.categories }}
    <a class="text-center block duration-200 py-2 px-4 mx-4 rounded-lg hover:bg-gray-100 hover:text-gray-900 text-gray-700 dark:text-gray-200 dark:hover:bg-warmgray-800 transition-all"
        href="{{ $.Site.BaseURL }}/categories/{{ $key | urlize  }}">{{ $key | humanize }}</a>

    {{ end }}
</div>
{{ end }}