## {{.Get "title" | default "PR：敬語翻訳で楽々敬語変換"}}
{{.Inner}}
<span class="text-center">
<h4 class="font-semibold">ダウンロードはこちらから</h3>
<span class="flex flex-wrap justify-center">
<a href="https://apps.apple.com/jp/app/id1541240975" target="_blank" class="mx-4 mb-3"> <amp-img class="appstore-button" src="{{ "/img/amp/download-on-appstore.webp" | relURL }}" width="136" height="50"></amp-img></a>
<a href="https://play.google.com/store/apps/details?id=app.honorific.honorificconverter" target="_blank"> <amp-img class="googleplay-button" src="{{ "/img/amp/download-on-google-play.webp" | relURL }}" width="168" height="50" layout=fixed></amp-img></a>
</span>
</span>